<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

  <title>{{profile.name}}</title>

  <link href="https:///maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

  <style type="text/css">
    {{{css}}}
  </style>
  </head>
  <body>
    <div class="container-fluid">

      <header class="row">
        <h2 class="name">{{profile.name}}</h2>
        <p class="title">{{profile.title}}</p>
        <p class="passion well well-sm">{{profile.passion}}</p>
      </header>

      <div class="row">
        <div class="col-md-offset-2 col-md-3">
          <div class="photo">
            <img width="300" height="300" src="{{profile.photo_url}}">
          </div>
        </div>
        <div class="col-md-5 bio">
          <div class="bio">
            <p>{{profile.bio}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-9">
          <div class="skills">
            <ul class="list-inline well well-sm">
              {{#each profile.skills}}
                <li>{{this.name}}</li>
              {{/each}}
            </ul>
          </div>

          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <section class="experiences">
            <h3>Selected experience</h3>

            {{#each profile.experiences}}
              <div class="row">
                <div class="col-md-offset-1 col-md-10">
                  <h4><p>{{this.place}}</p></h4>
                  <h5>{{this.subtitle}}</h5>
                  <span><p>{{this.description}}</p></span>
                </div>
              </div>

              <hr class="divider">
            {{/each}}
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <section class="experiences">
            <h3>Education and Training</h3>

            {{#each profile.education_and_trainings}}
              <div class="row">
                <div class="col-md-offset-1 col-md-10">
                  <h4><p>{{this.year}}</p></h4>
                  <h5>{{this.description}}</h5>
                </div>
              </div>

              <hr class="divider">
            {{/each}}
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
