@import url(
  https://fonts.googleapis.com/css?family=Lato:300,400
);

body {
  background: #fff;
  font-family: Lato, sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 300;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

h4 p, h5 {
  text-transform: none;
  color: #333;
  font-weight: 400;
}

p, li {
  font-size: 18px;
  line-height: 37px;
  font-weight: 300;
  color: #666;
}

header {
  background: #00b2e2;
  border-bottom: 1px solid #ccc;
  text-align: center;
  height: 230px;
  padding-top: 15px;
  color: white;
}

header h2, header p {
  color: white;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(237, 237, 237, 0);
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.name {
  margin-top: 35px;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 0;
}

.title {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.passion {
  margin-bottom: 20px;
  font-style: italic;
  letter-spacing: 0.5px;
}

.passion:before,
.passion:after {
  content: '"';
}

.photo {
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.bio {
  font-weight: 300;
  margin: 40px 0 20px;
}

.skills .list-inline {
  margin-bottom: 20px;
}

.skills .list-inline li {
  background: #00b2e2;
  color: white;
  padding: 0 10px;
  margin: 5px;
}

.skills, .experiences {
  text-align: center;
}

.experiences h4, .experiences h4 p, .experiences h5 {
  display: inline;
}
